.objectEditor {
    display: grid;
    grid-template-columns: min-content 1fr;

    width: fit-content;
    padding: 0.3rem;

    column-gap: 1.5rem;
}

.objectEditor > *:not(.editorNote):not(:nth-last-child(-n+2)) {
    margin-bottom: 0.5rem;
}

/* Contains a input and its reset button, within `.editorRowInput`. */
.objectEditor .inputContainer {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

/* The input element */
.objectEditor .inputContainer > *:first-child {
    flex-grow: 1;
}