.editor input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;

    position: relative; /* needed for pseudo-element */

    --enable-checkbox-size: calc(var(--input-field-height) - 0.4rem);
    height: var(--enable-checkbox-size);
    width: var(--enable-checkbox-size);

    border-radius: var(--border-radius-small);
    border: 1px solid transparent;

    background-color: var(--colour-input-button);
}

.editor input[type='checkbox']:checked::after {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    width: 40%;
    height: 70%;

    border: solid var(--colour-text-primary);
    border-width: 0 2px 2px 0;

    transform: translate(-50%, -60%) rotate(45deg);
}

.editor input[type='checkbox']:hover {
    background-color: var(--colour-input-button-hover);
    cursor: pointer;
}

.editor input[type='checkbox']:focus {
    border: 1px solid var(--colour-focus-ring);
}