.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.textInput {
    background-color: var(--colour-input-field);
    border: 1px solid transparent;

    color: var(--colour-text-primary);
    height: var(--input-field-height);

    padding: 0.1rem 0.35rem;

    flex-grow: 1;
    width: 100%;
}

.textInput:focus {
    border: 1px solid var(--colour-focus-ring);
}

.textInput.hasError {
    border: 1px solid var(--colour-border-error);
}