.tooltipWrapper {
    display: inline-flex;
}

.tooltip {
    position: fixed;
    background: var(--colour-surface-panel-hover-strong);
    color: var(--colour-text-primary);
    padding: 0.3rem 0.6rem;
    border-radius: var(--border-radius-small);
    white-space: nowrap;
    font-size: var(--font-size-small);
    pointer-events: none;
    z-index: 999999;
    will-change: transform, opacity;
}