.listEditor {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.5rem;
    padding: var(--padding-small);
}

.listEditorHeader {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: fit-content;
    align-items: center;
}

.listEditorList {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.listEditorList > .listItem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.listEditorList > .listItem:not(:last-child) .addItemButton {
    display: none;
}