:root {
  --font-family: "Helvetica Neue", Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-size-small: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

span {
  font-family: var(--font-family), sans-serif !important;
  font-size: var(--font-size-base) !important;
}

.blocklyToolboxCategoryIcon {
  width: 8px !important;
}

.blocklyToolboxCategoryLabel {
  font-size: var(--font-size-small) !important;
}