:root {
  --font-family: "Helvetica Neue", Helvetica, sans-serif;
  --font-size-base: 12pt;
  --font-size-small: 9pt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif !important;
  font-size: var(--font-size-base) !important;
}

html, body {
  overflow: hidden;
}